body{
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    background-color: lime;
    color: rgb(47, 7, 224);
    font-size: 25px;
    padding-left: 30px;
}


#command{
    position: absolute;
    left: 10px;
    color: blue;
}